# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution
build/
dist/
*.egg-info/

# -------------------------------------------------
# IDEs
# -------------------------------------------------

# VS Code
.vscode/

# JetBrains
.idea/

# -------------------------------------------------
# macOS
# -------------------------------------------------

.DS_Store

# -------------------------------------------------
# Logs
# -------------------------------------------------

*.log

# -------------------------------------------------
# Testing
# -------------------------------------------------

.pytest_cache/
.coverage
htmlcov/

# -------------------------------------------------
# Type checking
# -------------------------------------------------

.mypy_cache/
.pyre/
.ruff_cache/

# -------------------------------------------------
# Jupyter
# -------------------------------------------------

.ipynb_checkpoints/

# -------------------------------------------------
# Qt
# -------------------------------------------------

*.pro.user
*.autosave

# -------------------------------------------------
# Environment variables
# -------------------------------------------------

.env
.env.*

# -------------------------------------------------
# Misc
# -------------------------------------------------

*.swp
*.swo